# celery
BROKER_URL=redis://:pass123@redis:6379/0
# redis as a cache
REDIS_HOST = redis
REDIS_PORT = 6379
REDIS_PASSWORD = 'pass123'
REDIS_DB = 0
# mongo
MONGO_INITDB_USER=root
MONGO_INITDB_PWD=example
MONGO_INITDB_DATABASE=my_project
